node_modules/
target/
.angular/
dist/
*.class
*.jar
.idea/
*.log
.vscode/
TO-DO.md

# Playwright
automation/playwright/node_modules/
automation/playwright/playwright-report/
automation/playwright/test-results/
automation/playwright/results/
automation/playwright/pw.yaml
